<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Devil's Dictionary | By Ambrose Bierce</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- static CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/5216db6454.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}">

</head>

<body class="d-flex flex-column">

    <header class="fixed-top">

        <nav class="navbar navbar-expand-lg">

            <div class="container-fluid mb-2">

                <div class="me-5">
                    <a class="navbar-brand" href="{{ url_for ('index') }}">The Devil's Dictionary<br><span><small>By Ambrose Bierce</small></span></a>
                    
                </div>

                <div class="vr me-5"></div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbar">

                    <div class="navbar-nav m-5 m-md-0">
                        <a class="nav-link" href="{{ url_for ('index') }}">Index</a>
                        <a class="nav-link" href="{{ url_for ('about') }}">About</a>
                        <a class="nav-link" href="{{ url_for ('contact') }}">Contact</a>
                    </div>

                </div>

            </div>

        </nav>

    </header>

    <div class="content-block">

    {% block content %}
    {% endblock %}

    </div>

    <footer class="mt-auto">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center"><small><em>&copy;This work was published before January 1, 1929, and is in the <a
                        href="https://en.wikipedia.org/wiki/Public_domain">public domain</a> worldwide because the
                    author died
                    at least 100 years ago.</em></small></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>