{% extends 'base.html' %}

{% block content %}
<div class="container  p-4">
    <div class="row">
        <div class="col">
            <h1>{{ page_title }}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as
                possible!</p>
				<form method="POST">
					{{ form.hidden_tag() }}  <!-- CSRF token for security -->

					<div class="control-group mb-2">
						<div  class="form-group floating-label-form-group controls">
							{{ form.name.label(class="form-label") }}  <!-- Add Bootstrap label class -->
							{{ form.name(class="form-control", placeholder="Enter your name") }}  <!-- Bootstrap input class -->
							{% for error in form.name.errors %}
								<div class="alert alert-danger">{{ error }}</div>  <!-- Bootstrap error message -->
							{% endfor %}
						</div>
					</div>

					<div class="control-group mb-2">
						<div  class="form-group floating-label-form-group controls">
							{{ form.email.label(class="form-label") }}
							{{ form.email(class="form-control", placeholder="Enter your email") }}
							{% for error in form.email.errors %}
								<div class="alert alert-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>

					<div class="control-group mb-2">
						<div  class="form-group floating-label-form-group controls">
							{{ form.message.label(class="form-label") }}
							{{ form.message(class="form-control", rows=5, placeholder="Enter your message") }}
							{% for error in form.message.errors %}
								<div class="alert alert-danger">{{ error }}</div>
							{% endfor %}
						</div>
					</div>
			
					<div class="form-group">
						{{ form.submit(class="btn btn-primary") }}  <!-- Bootstrap button class -->
					</div>
				</form>			
        </div>
    </div>
</div>

{% endblock %}