{% extends 'base.html' %}

{% block content %}
<div class="container p-5">
    <div class="row">

        <div class="col">
            <nav>
                {% if prev_letter %}
                    <a href="{{ url_for('listing', listing_name=prev_letter) }}">Previous ({{ prev_letter }})</a>
                {% endif %}
            </nav>    
        </div>

        <div class="col text-center">
            <h1>{{ listing_name | title }}</h1>
        </div>

        <div class="col text-end">
            <nav>
                {% if next_letter %}
                    <a href="{{ url_for('listing', listing_name=next_letter) }}">Next ({{ next_letter }})</a>
                {% endif %}
            </nav>
        </div>

        <hr class="mb-5">
    </div>
    {% for entry in listings %}
    <div class="row mb-5">
        <div class="col">
            <h2><a href="{{ url_for('entry', listing_name=listing_name, entry_name=entry.name.replace(' ', '_'))|lower }}">{{ entry.name | custom_title }}.</a></h2>
            <p class="text-muted"><em>{{ entry.category }}</em></p>
            <p>{{ entry.description | safe }}</p>
        </div>
    </div>
    <div class="text-end">
        <a href="#top">Back to top</a>
    </div>
    {% endfor %}
</div>

{% endblock %}